.site-header {
  padding: 18px 0;
}
.header-top {
  @include display();
}
.header-top__link {
  display: inline-block;
}
.navbar__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.navbar-item + .navbar__item {
  margin-left: 30px;
}
.navbar__link {
  font-family: "Public-Sans";
}
.header-top__mode-wrapper {
  padding: 5px;
  border-radius: 50%;
  width: 48px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.header-top__hamburger-btn {
  display: none;
  border: none;
  background: transparent;
}

@media (max-width: 763px) {
  .navbar .header-top__mode-wrapper {
    display: none;
    .header-top__hamburger-btn {
      display: block;
    }
  }
}
